body {
  display: grid;
  grid-template-columns:
    [full-bleed-start] var(--margin-width)
    [main] var(--content-width)
    var(--margin-width) [full-bleed-end];
  grid-template-rows: [header] auto [main] 1fr [footer] auto;
  min-height: 100svh;

  main {
    overflow: hidden;
    > section {
      padding: var(--space-2xl) 0;
    }
  }

  > *,
  main > section,
  .full-bleed {
    grid-column: full-bleed;
    display: grid;
    grid-template-columns: subgrid;
    place-content: start;
    > *:not(&) {
      grid-column: main;
    }
  }
}

.flow-space {
  > * + * {
    margin-block-start: var(--flow-space, 1em);
  }
}
