---
import Tagline from "./Tagline.astro";

const { title, tagline, src } = Astro.props;

console.log(src);
---

<section style=`--bgImg: url(${src.src});`>
  <header>
    <Tagline>{tagline}</Tagline>
    <h1 class="heading-1">{title}</h1>
  </header>
</section>

<style>
  section {
    padding: var(--space-2xl) 0;
    background-image: var(--bgImg);
    background-size: cover;
    background-position: 50% 75%;
    place-items: start;

    header {
      display: grid;
      padding: var(--space-m) var(--space-l);
      gap: var(--space-3xs);
      border-radius: var(--crn-card-heading);
      background: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(5.5px);
      max-width: 48rem;
    }
  }
</style>
