---
// import Services from "./Services.astro";
// import heroSection from "./heroSection.astro";
---

<section class="hero">
  <!-- Markup her -->

  <!-- <Services /> -->
</section>

<style>
  /* Styles her */
</style>
