<p>
  <slot />
</p>

<style>
  p {
    display: inline-block;
    place-self: start;
    color: var(--clr-tagline-text);
    background: var(--clr-tagline-bg);
    text-transform: uppercase;
    text-align: center;
    line-height: 147.5%;
    letter-spacing: 0.145rem;
    padding: 0 var(--space-2xs);
    border-radius: var(--crn-card);
  }
</style>
